.header{
    display: flex;
    flex-direction: column;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #313131;
    }
    &__menu{
        padding: 27px 0;
        display: flex;
        gap: 35px;
        @media (max-width: 760px) {
            display: none;
        }
    }
    &__search{
        padding: 27px 25px;
        background-color: black;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        &:hover{
            color: #14B9D5;
        }
    }
    &__baner{
        height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./images/header-background.png');
        gap: 44px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &-wrapper{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
    &__title{
        font-size: 27px;
        font-weight: 700;
        color: white;
    }
    &__button{
        border: none;
        width: 170px;
        padding: 15px 0;
        color: white;
        border-radius: 4px;
        background-color: #313131;
        font-weight: 600;
        font-size: 18px;
        &--green{
            background-color: #89CA62;
        }
        &--blue{
            background-color: #14B9D5;
        }
    }
}