.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 0;
    gap: 66px;
    &.details {
        & .card {
            max-width: none;
            height: 230px;
            flex-direction: row;
            &__body{
                text-align: left;
                height: 100%;
            }
            &__title, &__subtitle{
                align-self: flex-start;
            }
            
        }
    }
    &__title{
        font-size: 27px;
        font-weight: 700;
        text-transform: uppercase;
        color: #18B4CF;
    }
    &__list{
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        // @media (max-width: 760px) {
        //     grid-template-columns: none;
        // }
    }
    & .card{
        max-width: 555px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__button{
            border: none;
            border-radius: 50px;
            padding: 10px 40px;
            &--call{
                background-color: green;
                color: white;
            }
            &--reserve{
                background-color: darkcyan;
                color: white;
            }
            &--list{
                margin-top: auto;
                align-self: flex-end;
                display: flex;
                gap: 20px;
            }
        }
        &__body{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.2);
        }
        &__title{
            font-size: 18px;
            font-weight: 700;
            color: #353A3D;
        }
        &__subtitle{
            font-size: 14px;
            line-height: 21px;
            color: #5B6469;
        }
    }
}

